@import './../../../assets/stylus/_settings'

.el-card{
    background:transparent card-bg-image;
    border:0px;
    box-shadow:none;
    cursor:pointer;
    color:text-dark-color;
    margin: cards-team-margin;
    width 100%
    -webkit-transition-property: all; /* Safari */
    -webkit-transition-duration: transition-time; /* Safari */
    transition-property: all;
    transition-duration: transition-time;
    &:hover{
        background:card-bg-hover-color;
        background-image:none;
        color:text-light-color;
        .cardTitle {
            color:text-light-color;
        }
        .cardinnerBox{
            background-color primary-color-dark
        }
    }
    img{
        width:100%
    }
}

.cardTitle{
    font-size:1.79rem;
    margin-top:0px;
    margin-bottom:5px;
    font-family:light-font;
    word-break: break-word;
}

.cardLabel{
    font-size: 1.143rem;
    &.cardLabel--small{
        font-size: 1rem;
    }
}
.el-card__body{
    padding 0;
  }
.cardContent{
    font-size:1.57rem;
    font-family:bold-font;
    &.cardContent--small{
        font-size: 1rem;
    }
}

.cardBadge{
    margin-left:10px;
    font-size:0.71rem;
    color:text-light-color;
    text-transform uppercase
    text-align:center;
    padding:0.14rem 1.07rem;
    border-radius: 3px;
    background:badge-color;
}

.cardinnerBox{
    background:gray-color;
    padding:10px 15px;
    border-radius: 3px;
    margin-top:10px;
    &>*{
        margin-bottom 10px
    }
    &>*:last-child{
        margin-bottom 0
    }
}

.cardinnerBox i,.optionBox i{
    display:inline-block;
    width:1.07rem;
    text-align:center;
    font-size:1.143rem;
}

.card-yellow {
    background-color: #FED833;
}
.card-red {
    background-color: #fb7245;
}
.card-green {
    background-color: #a4ce62;
}
.icon_div{
    width: calc(100% - 80px);
}
.icon{
    background-image: url(./../../../assets/images/front-team-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    border-radius: 50%;
    margin-left: 34%;
    margin-top: 3%;
    width: 16%;
    height: 2%;

}
.icon-music{
    background-image: url(./../../../assets/images/back-team-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 50px;
    border-radius: 80%;
    margin-left: calc((100% - 90%) / 2);
}
.description h4{

}

@media(min-width desktop-breakpoint)
    .el-card
        width 'calc(33% - (%s * 2))' % cards-team-margin

    .icon
        margin-left: 11%;
        width: 5.5%;
        height: 4.7%;
        margin-top: 1.5%;
@media(min-width largescreen-breakpoint)
    .el-card
        width 'calc(25% - (%s * 2))' % cards-team-margin
    .icon
        margin-left: 8.5%;
        margin-top: 1%;
        width: 4%;
        height: 5%;
@media only screen and (max-width:400px) {
    .icon {
        height: 1.7%;
    }
}