<footer>
    <div class="footer-content">
        <el-row>
            <el-col :sm="6">
                <p><router-link :to="{path: '' }">Products</router-link></p>
                <p><router-link :to="{path: '' }">How it works</router-link></p>
                <p><router-link :to="{path: '' }">For influencers</router-link></p>
                <p><router-link :to="{path: '' }">For brands</router-link></p>
                <p><router-link :to="{path: '' }">Support</router-link></p>
            </el-col>
            <el-col :sm="6">
                <p><router-link :to="{path: '' }">Features</router-link></p>
                <p><router-link :to="{path: '' }">Bookings</router-link></p>
                <p><router-link :to="{path: '' }">Campaign tools</router-link></p>
                <p><router-link :to="{path: '' }">Payments</router-link></p>
                <p><router-link :to="{path: '' }">Reviews</router-link></p>
            </el-col>
            <el-col :sm="6">
                <p><router-link :to="{path: '' }">Resources</router-link></p>
                <p><router-link :to="{path: '' }">Blog</router-link></p>
                <p><router-link :to="{path: '' }">Browse influencers</router-link></p>
                <p><router-link :to="{path: '' }">Terms of use</router-link></p>
                <p><router-link :to="{path: '' }">Privacy policy</router-link></p>
                <p><router-link :to="{path: '' }">FAQ</router-link></p>
            </el-col>
            <el-col :sm="6">
                <p><router-link :to="{path: '' }">Company</router-link></p>
                <p><router-link :to="{path: '' }">About us</router-link></p>
                <p><router-link :to="{path: '' }">Press</router-link></p>
                <p><router-link :to="{path: '' }">Jobs</router-link></p>
                <p><router-link :to="{path: '' }">Contact us</router-link></p>
            </el-col>
        </el-row>
    </div>
</footer>